
.a{
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
}
.b{
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 25px;
}
.img123{
    width: 100%;
}
.banner{
    background-image: url(https://firstfiddle.in/assets/images/new-about-us-1.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 280px;
}
.text1{
    position: relative;
    text-align: center;
    color: aliceblue;
    font-size: 90px;
    padding-top: 40vh;
    font-family: 'prague';
}
.d{
    background: url(https://firstfiddle.in/assets/images/gamebanner.jpg);
    width: 100%;
}
.e{
    margin-top: 102px;
    color: white;
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
}
.f{
    line-height: 40px;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 102px;
}
.k{
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 35px;
    font-size: 16px;
}
.h{
    margin-top: 30px;
    margin-bottom: 100px;
}
footer{
    background: #020306f0;
    padding: 50px;
    color: #fff;
}
footer img{
    width: 50%;
    margin-top: 30px;
}
.n{
    background: url(https://firstfiddle.in/assets/images/outletbanner.png);
    width: 100%;
}
.g{
    padding-top: 20px;
    letter-spacing: 3px;
}
.i{
    line-height: 20px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
}
.p{
    letter-spacing: 15px;
}
.m{
    line-height: 28px;
    letter-spacing: 1px;
}

nav .weblogo{
    width: 65px;
}
.navbar{
    background: #00000082!important;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff!important;
    font-weight: 600;
    font-size: 20px;
}
.moblogo{
    display: none;
 }

@media(max-width: 768px)
{
 .moblogo{
    display: block;
 }
 .weblogo{
  display: none;
 }
 .navbar{
  background: #fcb21b!important;
 }
 .img12{
    margin-top: 78px;
 }
}