.img123{
    width: 100%;
}
.a{
    padding-top: 2%;
    padding-left: 3%;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.u{
    padding-top: 2%;
    padding-left: 3%;
}
.b{
    line-height: 28px;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding-right: 5px;
    text-align: justify;
    padding-left: 30px;
}
.h{
    margin-top: 30px;
    margin-bottom: 100px;
}
.p{
    letter-spacing: 2rem;
}
.box16{
    text-align: center;
    color: #fff;
    position: relative;
    margin-top: 20px;


}
.img{
    width: 100%;
}
.c{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
footer{
    background: #020306f0;
    padding: 50px;
    color: #fff;
}
footer img{
    width: 50%;
    margin-top: 30px;
}
.n{
    background: url(https://firstfiddle.in/assets/images/outletbanner.png);
    width: 100%;
}
.g{
    padding-top: 20px;
    letter-spacing: 3px;
}
.i{
    line-height: 20px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
}
.p{
    letter-spacing: 15px;
}
.m{
    line-height: 28px;
    letter-spacing: 1px;
}
.banner{
    background-image: url(https://firstfiddle.in/assets/images/new-our-team.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 280px;
}
.text1{
    position: relative;
    text-align: center;
    color: aliceblue;
    font-size: 90px;
    padding-top: 40vh;
    font-family: 'prague';
}
nav .weblogo{
    width: 65px;
}
.navbar{
    background: #00000082!important;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff!important;
    font-weight: 600;
    font-size: 20px;
}
.moblogo{
    display: none;
 }

@media(max-width: 768px)
{
 .moblogo{
    display: block;
 }
 .weblogo{
  display: none;
 }
 .navbar{
  background: #fcb21b!important;
 }
 .img12{
    margin-top: 78px;
 }
}